<!DOCTYPE html>
<html lang="en">
  <head>
      <title>{{title}} logged out</title>
    <!-- Required meta tags -->
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">

    <link rel="icon" href="static/css/dashboard.png">

  </head>
  <body>
<body>

    <div class="container">

        <div class="jumbotron">
          <div class="container">
            <h1 class="display-4 form-signin-heading">You have been logged out of {{app_data.name}}</h1>
              <hr class="my-4">

            <p class="lead">To log back in, press the button below.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/loginform" role="button">Log in</a>
            </p>
          </div>
        </div>

    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/static/jquery/jquery.js"></script>
    <script src="/static/tether/js/tether.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>

  </body>
</html>