<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/static/css/general.css" rel="stylesheet">

      <title>{{title}}</title>

  </head>
  <body>

  <nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-primary" href="#">{{title}}</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          {% for d in dashboards %}
            {% if d.dashboards %}
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    {{d.name}}
                </a>
                <div class="dropdown-menu" aria-labelledby="Preview">
                    {% for d2 in d.dashboards %}
                       <a class="dropdown-item" href="#" onclick="load_dashboard('{{d2.name}}');">{{d2.name}}</a>
                    {% endfor %}
                </div>
                </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="load_dashboard('{{d.name}}');">{{d.name}}</a>
            </li>
            {% endif %}
        {% endfor %}

        </ul>
          <form action="/logoutaction">
            <button class="btn btn-primary my-2 my-sm-0" type="submit">Logout {{data.username}}</button>
          </form>
      </div>
    </nav>

    <!-- Begin page content -->
    <div id="dashboardpane" class="container">
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/static/jquery/jquery.js"></script>
    <script src="/static/jquery/jquery.form.js"></script>
    <script src="/static/tether/js/tether.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.js"></script>

    <script src="/static/js/dashboards.js"></script>


  </body>
</html>