<h2>{{dashboard.title}}</h2>
<p>{{dashboard.description}}</p>
<table class="table table-hover ">
    <thead class="thead-default">
    <tr>
        <th>#</th>
        {% for lab in rows.property_labels %}
        <th>{{lab|title}}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
    <tr>
        <td scope="row">
            {% if dashboard.editable %}
            <button class="btn btn-primary" onclick="load_dashboard('{{dashboard.editor.name}}');"
                    data-toggle="tooltip" data-placement="right" data-container="body" title="Press to edit this row">{{loop.index}}</button>
            {% else %}
            {{loop.index}}
            {% endif %}
        </td>
        {% for c in row.properties  %}
        <td>{{ c.value }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
</table>