{% macro input(o) -%}
    {% if o.list_constrained == True and not o.boolean %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" data-toggle="tooltip" data-placement="right" title="{{o.description}}">{{o.label|title}}</label>
            <div class="col-sm-10">
                <fieldset class="form-group">
                    {% for e, l in o.constraint_value_dict.items() %}
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="{{o.uid}}" value="{{e}}"
                            {% if o.value==e %} checked{% endif %}>
                        {{l}}
                      </label>
                    </div>
                    {% endfor %}
                </fieldset>
            </div>
      </div>
    {% else %}
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" data-toggle="tooltip" data-placement="right" title="{{o.description}}">{{o.label|title}}</label>
            <div class="col-sm-10">
            {% if o.boolean %}
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="{{o.uid}}" value="{{o.boolean_values[0]}}"
                           {% if o.value==o.boolean_values[0] %} checked{% endif %}>
                    </label>
                </div>
            {% elif o.hidden %}
                <input class="form-control" type="password" name="{{o.uid}}" value="{{o.value}}">
            {% else %}
                <input class="form-control" type="text" name="{{o.uid}}" value="{{o.value}}">
            {% endif %}
        </div>
    </div>
    {% endif %}
{%- endmacro %}

<h2 >{{title}}</h2>
<p class="text-primary"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;{{description}}</p>
<br>
<form id="the_form" action="{{event_submit(form_object).url}}">
    {% for o in form_object %}
        {{ input(o) }}
    {% endfor %}
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
</form>
