body { padding-top: 70px; }

button {
    cursor: pointer;
}

.navbar-iconed {
  background-image:url("/static/css/dashboard.png");
  background-repeat: no-repeat;
  background-size:30px 30px;
  background-position: left center;
  padding-left:45px;
}

.bottom-border {
    border-bottom:1px solid #0275d8;
    background-color:white;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: #0275d8;
  color:white;
}

.dropdown-item {
  color: #0275d8;
}

.dropdown-menu {
  border-color: #0275d8;
}

.navbar-toggler-dashboard {
    border-color: #0275d8;
}

.navbar-toggler-icon-dashboard {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(2,117,216,1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
